<div class="container"> 
  <mat-card class="registercard">
    <h1>Register</h1>
      <mat-error *ngIf="passwordError.active">{{passwordError.message}}</mat-error>
      <mat-error *ngIf="usernameError.active">{{usernameError.message}}</mat-error>
      <mat-error *ngIf="emailError.active">{{emailError.message}}</mat-error>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter your username" required [type]="text" (change)="handleUsernameChange($event)" value="">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput placeholder="Enter your email" required [type]="text" (change)="handleEmailChange($event)" value="">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter your password" required [type]="hide ? 'password' : 'text'" (change)="handlePasswordChange($event)" value="">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="Enter your password again" required [type]="hide ? 'password' : 'text'" (change)="handlePasswordConfirmationChange($event)" value="">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <ngx-mat-file-input (change)="onFileSelected($event)" ></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
      </mat-form-field>
      <div class="image-preview" *ngIf="previewUrl">
          <img [src]="previewUrl"/>                 
      </div>
      <button mat-raised-button color="primary" (click)="signup($event)">Sign up</button>
  </mat-card>
