<mat-card>
  <mat-card-header>
    <img class="gameimg" mat-card-image src={{(gameObject).image}}>
    <mat-card-title>{{(game | async).name}}</mat-card-title>
    <img mat-card-avatar src={{(gameObject).image}} alt="Game Avatar">
  </mat-card-header>
  <mat-card-content>
    <p>Upvotes: {{(game | async).upvotes}}</p>
    <p>Price: {{(game | async).price}}</p>
    <p>Description: {{(game | async).description}}</p>
    <p>StoreLink: {{(game | async).storeLink}}</p>
    <p>TrailerUrl: {{(game | async).trailerUrl}}</p>
  </mat-card-content>
  <mat-card-actions>
      <app-upvote-btn gameId="{{(game | async).id}}">
        </app-upvote-btn>
    <div class="userActions" *ngIf="editableGame" >
      <button mat-raised-button color="warn" (click)="deleteGame()">Delete</button>
      <button mat-raised-button color="warn" (click)="navigateToEditForm()">Edit</button>
    </div>
  </mat-card-actions>
</mat-card>
