<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{game.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Upvotes: {{game.upvotes}}</p>
    <p>Price: {{game.price}}</p>
    <p>Description: {{game.description}}</p>
    <p>StoreLink: {{game.storeLink}}</p>
    <p>TrailerUrl: {{game.trailerUrl}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button> Upvote </button>
  </mat-card-actions>
</mat-card>
