<mat-card class="resetConfirmcard">
    <h1>Change your password</h1>  
    <mat-error *ngIf="error !== null">{{error}}</mat-error>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter your password" required [type]="hide ? 'password' : 'text'" (change)="handlePasswordChange($event)" value="">
        <button mat-icon-button matSuffix (click)="switchhide()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="Enter your password again" required [type]="hide ? 'password' : 'text'" (change)="handlePasswordConfirmationChange($event)" value="">
        <button mat-icon-button matSuffix (click)="switchhide()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    <button mat-raised-button color="primary" (click)="submitNewPassword()">Submit</button>
  </mat-card>
