<h2>Games</h2>

<ul class="games">
  <mat-grid-list cols= 4 >
      <mat-grid-tile *ngFor="let game of games | async">
          <mat-card (click)="routeToGamePage(game.id)">
            <mat-card-header>
              <mat-card-title> {{game.name}} </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
               {{game.description}}
              </p>
            </mat-card-content>
            <mat-card-footer>
              Upvotes: {{game.upvotes}}
            </mat-card-footer>
            <mat-card-actions>
              <button mat-button>UPVOTE</button>
            </mat-card-actions>
          </mat-card> 
      </mat-grid-tile>
  </mat-grid-list>
</ul>


<form>
Name: <input type="text" name="name" value="" [(ngModel)]="game.name"><br>
Price: <input type="text" name="price" value="" [(ngModel)]="game.price"><br>
Description: <input type="text" name="description" value="" [(ngModel)]="game.description"><br>
StoreLink: <input type="text" name="StoreLink" value="" [(ngModel)]="game.storeLink"><br>
TrailerUrl: <input type="text" name="TrailerUrl" value="" [(ngModel)]="game.trailerUrl"><br>
<input type="submit" value="Login" (click)="addGame($event)">
</form>

