<h2>Games</h2>

<ul class="games">
  <li *ngFor="let game of games | async">
      <span class="badge">{{game.id}}</span> {{game.name}} 
  </li>
</ul>


<form>
Name: <input type="text" name="name" value="" [(ngModel)]="game.name"><br>
Price: <input type="text" name="price" value="" [(ngModel)]="game.price"><br>
Description: <input type="text" name="description" value="" [(ngModel)]="game.description"><br>
StoreLink: <input type="text" name="StoreLink" value="" [(ngModel)]="game.storeLink"><br>
TrailerUrl: <input type="text" name="TrailerUrl" value="" [(ngModel)]="game.trailerUrl"><br>
<input type="submit" value="Login" (click)="addGame($event)">
</form>

