<div class="container"> 
  <mat-card class="logincard">
    <h1>Login</h1>  
    <mat-error *ngIf="loginError.active">{{loginError.message}}</mat-error>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Enter your username" type="text" (change)="handleUsernameChange($event)" value="">
    </mat-form-field>   
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput password placeholder="Enter your password" [type]="hide ? 'text' : 'password'" (change)="handlePasswordChange($event)" value="">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </mat-form-field>
    <div class="lbuttons">
      <button mat-raised-button color="primary" [disabled]="shouldBeDisabled" (click)="login($event)">Login</button>
      <a href="/resetpassword">Forgot your password ?</a>
    </div>
  </mat-card>
</div>


