
<div class="container">
  <mat-card>
    <mat-form-field appearance="outline">
      <mat-label>Current Password</mat-label>
      <input matInput placeholder="Enter current password" [type]="hide ? 'password' : 'hide'" [(ngModel)]="currentpassword" value="">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput placeholder="Enter new password" [type]="hide ? 'password' : 'hide'" [(ngModel)]="newpassword" value="">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput placeholder="Enter new password again" [type]="hide ? 'password' : 'hide'" [(ngModel)]="newpassword1" value="">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="changePassword()">Change Password</button>
  </mat-card>
</div>
