
<div class="container">
  <mat-card class="card">
    <h1> Change Password </h1>
     <mat-error *ngIf="newPasswordError.active">{{newPasswordError.message}}</mat-error>
      <mat-error *ngIf="oldPasswordError.active">{{oldPasswordError.message}}</mat-error>
    <mat-form-field appearance="outline">
      <mat-label>Current Password</mat-label>
      <input matInput placeholder="Enter current password" [type]="hide ? 'text' : 'password'" [(ngModel)]="currentpassword" value="">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-error *ngIf="isCurrentPassInvalid">This field cannot be blank</mat-error>
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput placeholder="Enter new password" [type]="hide ? 'text' : 'password'" [(ngModel)]="newpassword" value="">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-error *ngIf="isNewPassInvalid">This field cannot be blank</mat-error>
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput placeholder="Enter new password again" [type]="hide ? 'text' : 'password'" [(ngModel)]="newpassword1" value="">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-error *ngIf="isNewPass1Invalid">This field cannot be blank</mat-error>
    <button mat-raised-button color="primary" (click)="changePassword()">Change Password</button>
  </mat-card>
</div>
