<div *ngIf="isOwner(); else noPermissionAccess">
  <mat-card class="card">
      <h1>Edit Game</h1>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput required type="text" [(ngModel)]="game.name" value="game.name">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput  required type="text" [(ngModel)]="game.price"  value="game.price">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input matInput  [(ngModel)]="game.description"  value="game.description">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Store link</mat-label>
    <input matInput   type="text" [(ngModel)]="game.storeLink" value="game.storeLink">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Trailer url</mat-label>
    <input matInput   type="text" [(ngModel)]="game.trailerUrl" value="game.trailerUrl"> 
  </mat-form-field>
  <mat-form-field appearance="outline">
    <ngx-mat-file-input (change)="onFileSelected($event)" ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
  </mat-form-field>
  <div class="image-preview" *ngIf="previewUrl">
      <img [src]="previewUrl"/>                 
  </div>
  <button mat-raised-button color="primary" (click)="editGame()">Edit Game</button>
  </mat-card>
</div>

<ng-template #noPermissionAccess>
  <h1>
    You need to be the owner of this game in order to edit...
  </h1>
</ng-template>